{% extends "base.html.twig" %}
{% block title %}Dealabs - Créer un bon plan{% endblock %}

{% block body %}
    <div class="row text-center">
        <div class="col-xl-4"></div>
        <div class="col-xl-4 mt-5">
            <h3>Poster un nouveau bon plan</h3>
            <a href="{{ path('app_codepromo_create') }}" style="color: #03A5C1;">
                <h4>ou poster un code promo</h4>
            </a>
            <form action="" method="post">
                {{ form_errors(form) }}

                {{ form_label(form.lien, null, {'label': 'Lien du deal', 'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.lien, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(form.prix, null, {'label': 'Prix', 'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(form.prixHab, null, {'label': 'Prix habituel', 'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.prixHab, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(form.fdp, null, {'label': 'Frais de port', 'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.fdp, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(form.livraison, null, {'label': 'Livraison gratuite', 'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.livraison, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(form.nom, null, {'label': 'Titre', 'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(form.description, null, {'label': 'Description', 'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(form.categorie, null, {'label': 'Catégorie', 'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}

                {{ form_widget(form._token) }}

                <button class="btn btn-primary mt-3" type="submit">
                    Poster
                </button>
            </form>
        </div>
    </div>

    <script>
        function disableFraisDePort() {
            if ($("#bon_plan_livraison").is(":checked")) {
                $("#bon_plan_fdp").attr("disabled", "disabled");
            } else {
                $("#bon_plan_fdp").removeAttr("disabled");
            }
        }

        $(document).ready(function () {
            disableFraisDePort();

            $("#bon_plan_livraison").bind("change", function () {
                disableFraisDePort();
            })
        });
    </script>
{% endblock %}