{% extends "base.html.twig" %}
{% block body %}
    <div class="first-div-bg">
        <div class="container single-bg">
            <p class="deals-note"><a class="btn" href="{{ path('app_note', {'dealId': deal.id, "valeur": -1}) }}">-</a>{{ deal.note }}°<a class="btn" href="{{ path('app_note', {'dealId': deal.id, "valeur": 1}) }}">+</a></p>
            <p class="deals-nom">{{ deal.nom }}</p>
            <div style="display: inline-flex; width: 100%;">
                <p class="deals-prix">{{ deal.prix }}€</p>
                <p class="deals-prixhab">{{ deal.prixhab }}€</p>
                {% if deal.fdp == 0 %}
                    <p class="deals-fdp">Gratuit</p>
                {% else %}
                    <p class="deals-fdp">{{ deal.fdp }}€</p>
                {% endif %}
                {% if deal.type.id == 1 %}
                    <p class="deals-type">Bons plans</p>
                {% elseif deal.type.id == 2 %}
                    <p class="deals-type">Codes promo</p>
                {% endif %}
            </div>
            <p class="deals-pseudo">{{ deal.auteur.pseudo }}</p>
            {% if deal.lien != null %}
                <button type="button" class="btn btn-primary" style=""
                        onclick="window.location.href='{{ deal.lien }}'">
                    Voir le deal
                </button>
            {% endif %}
            <a href="{{ path('app_save_deal', {id: deal.id}) }}">
                <p>Sauvegarder</p>
            </a>
        </div>
        <div class="container px-0 pb-0 single-bg" style="background-color: #35373b; margin-top: 1%;">
            <p class="pl-3" style="color: white;">{{ deal.commentaires|length }} commentaire(s)</p>
            <div style="background-color: white;">
                {% for commentaire in deal.commentaires %}
                    <div class="deal-commentaire pl-3 pt-2">
                        <div style="display: inline-flex;">
                            <p class="mr-3" style="font-weight: 500;">{{ commentaire.auteur.pseudo }}</p>
                            <p>{{ commentaire.datepublication|date("d/m/Y") }}</p>
                        </div>
                        <p>{{ commentaire.texte }}</p>
                    </div>
                {% endfor %}
                <form action="" method="post">
                    {{ form_errors(form) }}

                    {{ form_widget(form.texte, {'attr': {'class': 'form-control'}}) }}

                    {{ form_widget(form._token) }}

                    <button class="btn btn-primary mt-3" type="submit">
                        Poster
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
