{% extends "base.html.twig" %}
{% block title %}Dealabs - Gérer les alertes{% endblock %}

{% block body %}
    <div class="row text-center">
        <div class="col-xl-4"></div>
        <div class="col-xl-4 mt-5">
            <h3>Gérer les alertes</h3>
            <form action="" method="post">
                {{ form_errors(form) }}

                {{ form_label(form.motsCles, null, {'label': 'Mots-clés', 'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.motsCles, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(form.noteMin, null, {'label': 'Note minimale', 'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.noteMin, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(form.mail, null, {'label': 'Recevoir des alertes par mail', 'label_attr': {'class': 'control-label', 'id' : 'labelValeurCodePromo'}}) }}
                {{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}

                {{ form_widget(form._token) }}

                <button class="btn btn-primary mt-3" type="submit">
                    Sauvegarder mes préférences
                </button>
            </form>
        </div>
    </div>
{% endblock %}